@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LSPT - SHOP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/themes/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/themes/bower_components/Ionicons/css/ionicons.min.css">
    <!-- all css here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/bundle.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- Add your site or application content here -->
    <!--pos page start-->
    <div class="pos_page">
        <div class="container">
            <!--pos page inner-->
            <div class="pos_page_inner">
                <!--header area -->
                <div class="header_area">
                    <!--header top-->
                    <div class="header_top">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="header_links">
                                    <ul>
                                        <li><a href="~/ShopAccount/Login" title="Đăng nhập">Đăng nhập</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--header top end-->
                    <!--header middel-->
                    <div class="header_middel">
                        <div class="row align-items-center">
                            <!--logo start-->
                            <div class="col-lg-3 col-md-3">
                                <div class="logo">
                                    <a href="~/ShopHome/Index"><img src="~/assets/img/logo/logo.jpg.png" alt=""></a>
                                </div>
                            </div>
                            <!--logo end-->
                            <div class="col-lg-9 col-md-9">
                                <div class="header_right_info">
                                    <div class="search_bar">
                                        <form action="#">
                                            <input placeholder="Nhập sản phẩm cần tìm kiếm" type="text">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--header middel end-->
                    <div class="header_bottom">
                        <div class="row">
                            <div class="col-12">
                                <div class="main_menu_inner">
                                    <div class="main_menu d-none d-lg-block">
                                        <nav>
                                            <ul>
                                                <li>
                                                    <a href="~/ShopAccount/Login">Trang chủ</a>
                                                </li>
                                                <li>
                                                    <a href="~/ShopAccount/Login">Giỏ hàng(0)</a>
                                                </li>
                                                <li><a href="~/ShopAccount/Login">Lịch sử mua hàng</a></li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--header end -->
                <!--breadcrumbs area start-->
                <div class="breadcrumbs_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb_content">
                                <ul>
                                    <li><a href="~/ShopAccount/Login">Trang chủ</a></li>
                                    <li><i class="fa fa-angle-right"></i></li>
                                    <li>Đăng nhập</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs area end-->
                <!-- customer login start -->
                <div class="customer_login">
                    <div class="row">
                        <!--login area start-->
                        <div class="col-lg-6 col-md-6">
                            <div class="account_form">
                                <h2>Đăng nhập</h2>
                                <form action="~/ShopAccount/Login" method="post">
                                    @Html.AntiForgeryToken()
                                    <p>
                                        <label>Tên đăng nhập: <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" autofocus name="username" value="@ViewBag.UserName">
                                    </p>
                                    <p>
                                        <label>Mật khẩu: <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" name="password">
                                    </p>
                                    @Html.ValidationMessage("Error", new { @style = "color: #f00" })
                                    <div class="login_submit">
                                        <button type="submit">Đăng nhập</button>
                                        <label for="remember">
                                            <input id="remember" type="checkbox">
                                            Nhớ mật khẩu
                                        </label>
                                        <a href="#">Quên tài khoản?</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!--login area start-->
                        <!--register area start-->
                        <div class="col-lg-6 col-md-6">
                            <div class="account_form register">
                                <h2>Đăng ký</h2>
                                <form action="#">
                                    <p>
                                        <label>Họ tên:  <span class="text-danger">*</span></label>
                                        <input type="text">
                                    </p>
                                    <p>
                                        <label>Email:  <span class="text-danger">*</span></label>
                                        <input type="text">
                                    </p>
                                    <p>
                                        <label>Mật khẩu: <span class="text-danger">*</span></label>
                                        <input type="password">
                                    </p>
                                    <p>
                                        <label>Xác nhận mật khẩu: <span class="text-danger">*</span></label>
                                        <input type="password">
                                    </p>
                                    <div class="login_submit">
                                        <button type="submit">Đăng ký</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--register area end-->
                    </div>
                </div>
                <!-- customer login end -->

            </div>
            <!--pos page inner end-->
        </div>
    </div>
    <!--pos page end-->
    <!--footer area start-->
    <div class="footer_area mt-2">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>About us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="footer_widget_contect">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>  19 Interpro Road Madison, AL 35758, USA</p>

                                <p><i class="fa fa-mobile" aria-hidden="true"></i> (012) 234 432 3568</p>
                                <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact@plazathemes.com </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>My ShopAccount</h3>
                            <ul>
                                <li><a href="#">Your ShopAccount</a></li>
                                <li><a href="#">My orders</a></li>
                                <li><a href="#">My credit slips</a></li>
                                <li><a href="#">My addresses</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>Informations</h3>
                            <ul>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Our store(s)!</a></li>
                                <li><a href="#">My credit slips</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">About us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>extras</h3>
                            <ul>
                                <li><a href="#"> Brands</a></li>
                                <li><a href="#"> Gift Vouchers </a></li>
                                <li><a href="#"> Affiliates </a></li>
                                <li><a href="#"> Specials </a></li>
                                <li><a href="#"> Privacy policy </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer area end-->
    <!-- all js here -->
    <script src="~/assets/jquery/dist/jquery.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/ajax-mail.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>
