<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0
    </div>
    <strong>Bản quyền &copy; 2023-2024 <a href="~/">Lê Sĩ Phúc Trình</a>.</strong>
</footer>
