<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb_content">
                <ul>
                    <li><a href="~/ShopHome/Index">Trang chủ</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>Giỏ hàng</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area">
    <form action="#">
        <div class="row">
            <div class="col-12">
                <div class="table_desc">
                    <div class="cart_page table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product_thumb">Hình ảnh</th>
                                    <th class="product_name">Sản phẩm</th>
                                    <th class="product-price">Giá</th>
                                    <th class="product_quantity">Số lượng</th>
                                    <th class="product_total">Thành tiền</th>
                                    <th class="product_remove">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product_thumb"><a href="#"><img src="~/assets/img/cart/cart17.jpg" alt=""></a></td>
                                    <td class="product_name"><a href="#">Handbag fringilla</a></td>
                                    <td class="product-price">£65.00</td>
                                    <td class="product_quantity"><input min="0" max="100" value="1" type="number"></td>
                                    <td class="product_total">£130.00</td>
                                    <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>


                                </tr>

                                <tr>
                                    
                                    <td class="product_thumb"><a href="#"><img src="~/assets/img/cart/cart18.jpg" alt=""></a></td>
                                    <td class="product_name"><a href="#">Handbags justo</a></td>
                                    <td class="product-price">£90.00</td>
                                    <td class="product_quantity"><input min="0" max="100" value="1" type="number"></td>
                                    <td class="product_total">£180.00</td>
                                    <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>

                                </tr>
                                <tr>
                                    
                                    <td class="product_thumb"><a href="#"><img src="~/assets/img/cart/cart19.jpg" alt=""></a></td>
                                    <td class="product_name"><a href="#">Handbag elit</a></td>
                                    <td class="product-price">£80.00</td>
                                    <td class="product_quantity"><input min="0" max="100" value="1" type="number"></td>
                                    <td class="product_total">£160.00</td>
                                    <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="cart_submit">
                        <h6>Tổng tiền: 215.000</h6>
                        <button type="submit">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--shopping cart area end -->
